<div lang="en" th:replace="fragments/header :: head('Заказы')"> </div>

<section class="py-3">
    <div class="container px-4 px-lg-5">
        <h3 class="text-start pb-3">Cписок заказов</h3>
        <table class="table table-borderless" th:if="${!#arrays.isEmpty(orders)}">
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th scope="col">Товар</th>
                <th scope="col">Цена</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Дата заказа</th>
                <th scope="col">Статус</th>
                <th scope="col">Функционал</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <th th:text="${order.getNumber()}"></th>
                <td class="text-end">
                    <img height="50px" th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" th:if="${!#arrays.isEmpty(order.getProduct().imageList)}" />
                    <img height="50px" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" th:if="${#arrays.isEmpty(order.getProduct.imageList)}" />
                    <a th:href="@{/product/info/{id}(id=${order.getProduct().getId()})}" class="text-decoration-none" th:text="${order.getProduct.getTitle()}"></a>
                </td>
                <td th:text="${order.getPrice()} + ' руб.'"></td>
                <td>1</td>
                <td th:text="${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></td>
                <td>
                    <span class="badge bg-light text-dark" th:text="${order.getStatus()}" th:if="${order.getStatus().name == 'Оформлен'}"></span>
                    <span class="badge bg-info text-white" th:text="${order.getStatus()}" th:if="${order.getStatus().name == 'Принят'}"></span>
                    <span class="badge bg-warning text-white" th:text="${order.getStatus()}" th:if="${order.getStatus().name == 'Ожидает'}"></span>
                    <span class="badge bg-success text-white" th:text="${order.getStatus()}" th:if="${order.getStatus().name == 'Получен'}"></span>
                    <span class="badge bg-dark text-white" th:text="${order.getStatus()}" th:if="${order.getStatus().name == 'Отменен'}"></span>
                </td>
                <td>
                    <a class="btn btn-outline-success" th:href="@{/admin/order/accept/{id}(id=${order.getId()})}" th:if="${order.getStatus().name == 'Оформлен'}">Принять</a>
                    <a class="btn btn-outline-danger" th:href="@{/admin/order/decline/{id}(id=${order.getId()})}" th:if="${order.getStatus().name == 'Оформлен'}">Отказать</a>
                    <a class="btn btn-outline-warning" th:href="@{/admin/order/wait/{id}(id=${order.getId()})}" th:if="${order.getStatus().name == 'Принят'}">Ожидает</a>
                    <a class="btn btn-success"  th:href="@{/admin/order/received/{id}(id=${order.getId()})}" th:if="${order.getStatus().name == 'Ожидает'}">Получен</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-info" role="alert" th:if="${#arrays.isEmpty(orders)}">
            Пока не было ни одного заказа
        </div>
    </div>
</section>

<div lang="en" th:replace="fragments/footer :: footer"> </div>