<div lang="en" th:replace="fragments/header :: head('Информация о продукте')"> </div>

<p th:text="'Наименование: ' + ${product.getTitle()}"></p>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
<p th:text="'Продавец: ' + ${product.getSeller()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

<div th:each="img : ${product.getImageList()}">
    <img th:src="'/img/' + ${img.getFileName()}" width="300px">
</div>

<div lang="en" th:replace="fragments/footer :: footer"> </div>